body {
    padding-top: 80px;
  }

.menu{
    padding-top: 80px;
}

.navbar{
    background-color: white;
}

.nav-link{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    color: #6497A8;
}

.nav-link:hover{
    color: #6497A8;
}

.dropdown-item{
    color: #6497A8;
}

h1{
    gap: 1rem;
    color: #6497A8;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2rem
}

h5{
    color: #6497A8;
    font-family: 'Archivo Narrow', sans-serif;
}

h3{
    color: #6497A8;
    font-family: 'Archivo Narrow', sans-serif;
}

.btn{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1rem;
}

/* Estilos card */
  
.card-text {
    text-align: justify;
    font-size: 0.9rem;
    color: white; 
    margin-top: 10px;
}

.card{
    border: none;
    max-width: 650px;
    height: 350px;
    margin-top: 50px;
}
.card-body2 {
    font-size: 1rem;
    line-height: 1.5; 
    color: #333;
}

.btn1{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    background-color: #6a6a9b; 
    color: white;
    margin-top: 100px;
    margin-bottom: -50px;
    padding: 10px 20px;
    font-size: 1rem; 
    border-radius: 4px;
    border: none; 
}

.btn1:hover{
    background-color: #8080BC;
    color: white;
}

.imgBethoveen{
    width: 50%;
}

/* Estilos footer */

.footer{
    background-color: #6497A8;
    margin-top: 150px;
}

.footer h5{
    font-family: 'Archivo Narrow', sans-serif;
    text-align: left;
    color: white;
}

.footer p{
    font-size: 1rem;
    text-align: left;
}

.footer a{
    text-decoration: none;
}

.col-md-5 .list-inline{
    margin-top: 10px;
}

.col-md-5 .list-inline-item{
    display: inline-block;
}

.col-md-5 .list-inline-item i{
    font-size: 1.5rem;
}

  
