body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px; /* Ajusta el ancho según sea necesario */
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 1;
    text-align: right;
}

input {
    flex: 2;
    padding: 10px;
    border: 1.5px solid #6497A8;
    border-radius: 15px;
}

button {
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #6497A8;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

h2 {
    text-align: center;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #6497A8;
    border: 1.5px solid #6497A8;
    border-radius: 20px;
    text-decoration: none;
    color: #fff9f9;
    margin-right: 10px;
}

.social-button i {
    margin-right: 5px;
}