/* Estilos header */
body {
    padding-top: 80px;
  }

  .menu{
    padding-top: 80px;
}

.navbar{
    background-color: white;
}

.nav-link{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    color: #AF69A8;
}

.nav-link:hover{
    color: #AF69A8;
}

.dropdown-item{
    color: #AF69A8;
}

.dropdown-menu .submenu{
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}

.dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
}

@media(max-width:800px) {
    .dropdown-menu .submenu {
        left: 30%;
        top: 0px;
    }

    .dropdown-menu .multi-menu {
        left: 30%;
    }

    .dropdown-menu .submenu-left {
        left: 0%;
    }
} */

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    display: none;
  }
  
  .dropdown-submenu .dropdown-menu.show {
    display: block;
  }

/* Menu lateral */ 

/* Asegurar que el usuario-icon esté visible siempre */
.user-menu-container {
    position: absolute;
    right: 70px; /* Lo movemos a la derecha */
    top: 50px;
    z-index: 1050;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos del menú lateral */
.user-menu {
    position: fixed;
    top: 0;
    right: -250px; /* Oculto fuera de la pantalla */
    width: 250px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 2000;
    overflow-y: auto;
}

.user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

h6 {
    font-family: 'Archivo Narrow', sans-serif;
    text-decoration: none;
    color: #6497A8;
    display: block;
    font-size: 20px;
}

.user-menu p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
}

.user-menu li:hover {
    background: #f5f5f5;
}

/* Fondo oscuro cuando el menú está abierto */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Oculto por defecto */
    z-index: 1500;
}

/* Mostrar el menú cuando esté activo */
.user-menu.show {
    right: 0;
}

#overlay.show {
    display: block;
}

/* Ajustar el ícono de usuario en pantallas pequeñas */
@media (max-width: 768px) {
    .user-menu-container {
        right: 80px;
    }

    .user-menu {
        width: 200px; /* Más pequeño en móviles */
    }
}

/* Estilos btn menu lateral */

.btn2{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    background-color: #6a6a9b; 
    color: white;
    font-size: 1rem; 
    border: none;
    border-radius: 4px;
    padding: 10px 15px; 
}

.btn2:hover{
    background-color: #8080BC;
    color: white;
}

/* Terminan los estilos del menu lateral */



/* Estilos titulos */
.title1{
    color:  #AF69A8;
    font-family: 'Archivo Narrow', sans-serif;
}

h1{
    gap: 1rem;
    color:  #AF69A8;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2rem
}

h3{
    gap: 1rem;
    color:  #AF69A8;
    font-family: 'Archivo Narrow', sans-serif;
}

/* Estilos imagen pop up */
.imgInstrumentos{
    cursor: pointer;
}

/* Estilos cajita de comentarios */
.card-text {
    text-align: justify;
    font-size: 0.9rem;
    color: white; 
    margin-top: 10px;
}

.card{
    border: none;
    max-width: 650px;
    height: 350px;
    margin-top: 50px;
}
.card-body2 {
    font-size: 1rem;
    line-height: 1.5; 
    color: #333;
}

.btn1{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    background-color: #AF69A8; 
    color: white;
    margin-top: 100px;
    margin-bottom: -50px;
    padding: 10px 20px;
    font-size: 1rem; 
    border-radius: 4px;
    border: none; 
}

.btn1:hover{
    background-color: #b884ae;
    color: white;
}




/* Estilos footer */
.footer{
    background-color: #AF69A8;
    margin-top: 150px;
}

h5{
    font-family: 'Archivo Narrow', sans-serif;
    text-align: left;
    color: white;
}

.footer p{
    font-size: 1rem;
    text-align: left;
}

.footer a{
    text-decoration: none;
}

.col-md-5 .list-inline{
    margin-top: 10px;
}

.col-md-5 .list-inline-item{
    display: inline-block;
}

.col-md-5 .list-inline-item i{
    font-size: 1.5rem;
}